@layer theme, base, components, utilities;
@import "tailwindcss";

@font-face {
    font-family: "Arimo";
    src: url("/fonts/Arimo/Arimo-Italic-VariableFont_wght.woff2") format("woff2");
    font-style: italic;
    font-weight: 1 1000;
}

@font-face {
    font-family: "Arimo";
    src: url("/fonts/Arimo/Arimo-VariableFont_wght.woff2") format("woff2");
    font-style: normal;
    font-weight: 1 1000;
}

@font-face {
    font-family: "Parisienne";
    src: url("/fonts/Parisienne/Parisienne-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Arvo";
    src: url("/fonts/Arvo/Arvo-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Arvo";
    src: url("/fonts/Arvo/Arvo-Bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
}

@theme {
    --color-primary: #025cff;
    --color-primary-dark: #0238ce;
    --color-secondary: rgb(0, 0, 0);
    --color-accent: rgb(0, 0, 0);
    --color-neutral: rgb(0, 0, 0);

    --font-arimo: "Arimo", sans-serif;
    --font-arvo: "Arvo", serif;
    --font-parisienne: "Parisienne", cursive;
}

@layer base {
    body {
        @apply bg-white text-gray-800 text-xl;
        font-family: var(--font-red-hat-text);
    }

    h1 {
        @apply text-5xl;
        font-family: var(--font-arvo);
    }

    h2 {
        @apply text-3xl;
        font-family: var(--font-arvo);
    }

    h3 {
        @apply text-2xl;
        font-family: var(--font-arvo);
    }

    p {
        line-height: 1.5;
    }

    button {
        @apply bg-primary-dark text-white font-arvo py-3 px-6 rounded-md hover:bg-primary transition-all ease-in-out duration-100;
    }
}

@layer utilities {
    .font-arimo {
        font-family: "Arimo", sans-serif;
    }

    .font-parisienne {
        font-family: "Parisienne", cursive;
    }

    .font-arvo {
        font-family: "Arvo", cursive;
    }
}
