<section class="container-xl section-spacing">
    <article class="flex flex-col lg:flex-row justify-between items-center gap-12 lg:gap-35">
        <figure class="relative w-1/3 shadow-xl self-start rounded-lg overflow-hidden">
            <img src="/images/abel-tall.webp" alt="Oscar Abel Mascareno Cervantes" class="w-full" />
        </figure>
        <div class="[&_p]:mb-5 self-center w-2/3">
            <h2 class="mb-6 text-center font-serif">No tienes que encontrar el camino solo.</h2>
            <p class="text-foreground-muted">
                Si has estado sintiéndote estresado, ansioso, deprimido; experimentando mal sueño,
                autoduda, aislamiento; teniendo dificultades en las relaciones, o estás finalmente
                listo para explorar tu trauma infantil, estoy aquí para ayudarte a resolverlo.
            </p>
            <p class="text-foreground-muted">
                Juntos navegaremos diferentes formas de ver y trabajar a través de tus dificultades
                mientras también exploramos cómo llegaste ahí en primer lugar.
            </p>
            <p class="text-foreground-muted">
                Juntos navegaremos diferentes formas de ver y trabajar a través de tus dificultades,
                explorando también cómo llegaste ahí en primer lugar, para que puedas construir un
                camino hacia tu bienestar.
            </p>
        </div>
    </article>
</section>
