<section class="max-w-6xl px-4 py-8 mx-auto flex flex-col gap-20 bg-white">
    <article class="flex justify-between align-center gap-20">
        <figure class="-mt-20 relative max-w-xs shadow-xl self-start">
            <img src="/images/abel-tall.webp" alt="Oscar Abel Mascareno Cervantes" class="w-full" />
        </figure>
        <div class="[&_p]:mb-5 self-center">
            <h2 class="mb-4 text-center">No tienes que encontrar el camino solo.</h2>
            <p>
                Si has estado sintiéndote estresado, ansioso, deprimido; experimentando mal sueño,
                autoduda, aislamiento; teniendo dificultades en las relaciones, o estás finalmente
                listo para explorar tu trauma infantil, estoy aquí para ayudarte a resolverlo.
            </p>
            <p>
                Juntos navegaremos diferentes formas de ver y trabajar a través de tus dificultades
                mientras también exploramos cómo llegaste ahí en primer lugar.
            </p>
            <p>
                Juntos navegaremos diferentes formas de ver y trabajar a través de tus dificultades,
                explorando también cómo llegaste ahí en primer lugar, para que puedas construir un
                camino hacia tu bienestar.
            </p>
        </div>
    </article>
</section>
