<figure class="relative">
    <img src="/images/banner.webp" alt="Main banner" class="w-full" />
    <div class="absolute inset-0 bg-gradient-to-r from-black/20 to-transparent"></div>
    <h1
        class="text-center font-serif absolute text-white font-light top-1/2 left-2/3 -translate-x-1/2 -translate-y-1/2 text-4xl md:text-5xl lg:text-6xl xl:text-7xl w-full max-w-4xl px-4 leading-tight drop-shadow-lg"
    >
        Terapia integral y personalizada para tus necesidades.
    </h1>
</figure>
