<figure class="relative">
    <img src="/images/banner.webp" alt="Main banner" class="w-full" />
    <div class="absolute inset-0 bg-linear-to-b from-black/20 to-transparent"></div>
    <div
        class="bg-secondary/50 absolute top-1/2 right-0 w-1/2 px-20 py-15 -translate-y-1/2 backdrop-blur-md"
    >
        <h1
            class="text-white font-light leading-tight drop-shadow-lg text-4xl md:text-5xl w-full max-w-2xl"
        >
            Terapia integral y personalizada para tus necesidades.
        </h1>
    </div>
</figure>
