<figure class="relative">
    <img src="/images/banner.webp" alt="Main banner" class="w-full" />
    <h1
        class="text-center font-arvo absolute text-white font-light top-1/2 left-2/3 -translate-x-1/2 -translate-y-1/2 text-7xl w-2xl leading-tight"
    >
        Terapia integral y personalizada para tus necesidades.
    </h1>
</figure>
