<section class="
    mt-20 h-100 
    flex justify-center text-white
    items-center font-arimo overflow-y-scroll
    bg-[url('/images/paralax.webp')] 
    font-
    bg-cover  bg-fixed bg-center bg-no-repeat"
>
    <article class="max-w-6xl px-4 py-8 text-4xl mx-auto flex flex-col gap-10 text-center">
        "Hay sabiduría en el trauma: cuando nos damos cuenta de que nuestras respuestas e impresiones traumáticas no somos nosotros mismos, y que podemos superarlas y así convertirnos en nuestro verdadero yo."
        <span class="text-3xl font-parisienne">~Gabor Maté</span>
    </article>
</section>
