<section class="max-w-6xl px-4 py-8 mx-auto mt-30 flex gap-20 justify-between">
    <article class="flex flex-col justify-between w-full max-w-1/2">
        <!-- TODO: Buscar una tipografia con italics -->
        <h2 class="mb-10 text-primary italic">Hola, Soy Oscar</h2>
        <div class="font-arvo mb-10 text-2xl font-light">
            lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, 
        </div>
        <p class="mb-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum
        </p>
        <div class="flex justify-center">
            <button>Platiquemos</button>
        <div>
    </article>
    <figure class="max-w-1/2 grow shadow-xl self-start">
        <img src="/images/abel-1x1.webp" alt="Oscar Abel Mascareno Cervantes" class="w-full" />
    </figure>
</section>
