<section class="max-w-6xl px-4 py-8 mx-auto mt-30 flex gap-20 justify-between">
    <article class="flex flex-col justify-between w-full max-w-1/2">
        <h2 class="mb-8 text-primary italic">Hola, Soy Oscar</h2>
        <div class="font-arvo mb-8 text-2xl font-light">
            Psicólogo clínico dedicado a acompañarte en tu camino hacia el bienestar emocional.
        </div>
        <p class="mb-8">
            Con años de experiencia en hipnosis clínica, tanatología y terapia de trauma, mi
            objetivo es proporcionarte un espacio seguro donde puedas explorar tus desafíos
            emocionales. Creo firmemente en la capacidad de sanación que todos tenemos, y estoy aquí
            para guiarte en ese proceso con profesionalismo y empatía.
        </p>
        <div class="flex justify-center">
            <a href="#contacto">
                <button>Platiquemos</button>
            </a>
        </div>
    </article>
    <figure class="max-w-1/2 grow shadow-xl self-start">
        <img src="/images/abel-1x1.webp" alt="Oscar Abel Mascareno Cervantes" class="w-full" />
    </figure>
</section>
