<section class="max-w-6xl px-4 py-8 mx-auto mt-30">
    <h2 class="text-center mb-10"> Trabajar conmigo se ve así</h2>
    <article class="flex justify-between [&_div]:mt-5">
        <div class="max-w-6/12 text-center flex flex-col gap-10">
            <div>
                <h3 class="mb-2"> Enfocado en Soluciones </h3>
                <p class="">
                    Pongamos la vista en el futuro que quieres—la persona que quieres
                    ser cada mañana al despertar. Te ayudaré a establecer
                    metas alcanzables que te hagan sentir bien y se enfoquen en soluciones en lugar de solo los problemas.
                </p>
            </div>
            <div>
                <h3 class="mb-2"> Centrado en la Persona </h3>
                <p>
                    Quiero ayudarte a descubrir tus fortalezas internas, obtener nuevas
                    perspectivas y perfeccionar las habilidades que necesitas para superar
                    los desafíos de la vida. Mantengo un espacio libre de juicios reservado para
                    tu crecimiento más profundo y personal.
                </p>
            </div>
            <div>
                <h3 class="mb-2"> Dirigido con Compasión </h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum
                </p>
            </div>
        </div>
        <figure class="max-w-5/12 shadow-xl self-start mt-10">
            <img src="/images/mountain.webp" alt="Mountain" class="w-full" />
        </figure>
    </article>
</section>
