<section class="container-xl section-spacing">
    <h2 class="text-center mb-12 text-4xl font-serif">Trabajar conmigo se ve así</h2>
    <article class="flex flex-col lg:flex-row justify-between gap-12 lg:gap-16">
        <div class="lg:max-w-1/2 flex flex-col gap-10">
            <div class="card">
                <h3 class="mb-3 font-serif text-secondary text-center">Enfocado en Soluciones</h3>
                <p class="text-foreground-muted">
                    Pongamos la vista en el futuro que quieres—la persona que quieres ser cada
                    mañana al despertar. Te ayudaré a establecer metas alcanzables que te hagan
                    sentir bien y se enfoquen en soluciones en lugar de solo los problemas.
                </p>
            </div>
            <div class="card">
                <h3 class="mb-3 font-serif text-secondary text-center">Centrado en la Persona</h3>
                <p class="text-foreground-muted">
                    Quiero ayudarte a descubrir tus fortalezas internas, obtener nuevas perspectivas
                    y perfeccionar las habilidades que necesitas para superar los desafíos de la
                    vida. Mantengo un espacio libre de juicios reservado para tu crecimiento más
                    profundo y personal.
                </p>
            </div>
            <div class="card">
                <h3 class="mb-3 font-serif text-secondary text-center">Dirigido con Compasión</h3>
                <p class="text-foreground-muted">
                    Entiendo que buscar ayuda puede ser un paso difícil. Mi enfoque es cálido,
                    empático y basado en la evidencia. Te escucharé sin juicio y te acompañaré con
                    paciencia en cada etapa de tu proceso de sanación.
                </p>
            </div>
        </div>
        <figure class="lg:max-w-2/5 shadow-xl self-start rounded-lg overflow-hidden">
            <img
                src="/images/mountain.webp"
                alt="Montaña representando el camino hacia la sanación"
                class="w-full"
            />
        </figure>
    </article>
</section>
